<ion-content>
  <div class="container">
    <div id="map" class="map"></div>
    <div class="card">
      <ion-card class="white">
        <ion-card-content class="menu-content">
          <ion-button size="small" (click)="observableService.announceStoreUpdate(true)" fill="clear">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
          <ion-input clearInput placeholder="A donde va?"></ion-input>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openModal()">
        <ion-icon name="arrow-dropup"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>